@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: var(--color-primary-900);
}

html {
  font-size: 100%;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 16px;

  --color-button-text: #fff;
  --color-primary-100: #fff;
  --color-primary-200: #e1e5f2;
  --color-primary-300: #bfdbf7;
  --color-primary-400: #68d8d6;
  --color-primary-500: #1f7a8c;
  --color-primary-600: #435e7a;
  --color-primary-700: #323d4d;
  --color-primary-800: #2b2d42;
  --color-primary-900: #022b3a;
  --color-secondary-washed-out: #879eed;
  --color-secondary: #5575e7;
  --color-accent: #fd4d4d;
  --color-accent-hover: #fd6868;
  --color-accent-disabled: #f5bfbf;
  --color-primary-100-translucent: rgba(222, 227, 234, 0.15);
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.3rem;
}

p {
  font-size: 1rem;
  font-weight: 500;
}

p.small {
  font-size: 0.85rem;
}
